.app_navItem {
  font-size: 14px;
}

.app_navItem_active {
  opacity: 1;
  background-color: #f95959;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.app_locale_nav {
  // border: 2px solid red;
  a {
    font-size: 12px;
  }
}
